body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../images/elegant-gold-and-black-dotted-background-vector.jpeg);

}

nav {
   
    width: 100%;
    height: 90px;
    background-image: linear-gradient( rgba(225, 202, 28, 0.996), rgb(36, 36, 43));
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    float:right;
}

   
li {
    margin: 15px 20px;
    /* text-transform: uppercase; */
    font-size: 25px;
    list-style-type: none;
   
}

.logo {
    width: 300px;
    height: 300px;
}

section {
    width: 100%;
    /* height: 200px; */
    /* background-color: rgb(35, 225, 225); */
}

.About-me {
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    margin: 5px 
}

.second {
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    margin: 5px 
}

.block-one {
    color: rgb(224, 220, 220);
    width: 100%;
    /* height: 250px; */
    /* background-color: rgb(25, 11, 230); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.block-one-info {
    color:rgb(246, 241, 241);
    background-color: rgb(31, 171, 24,00);
    margin: 50px;
    max-width: 400px;
    border-radius: 10px;
}

.block-one-pic {
    width: 400px;
    height: 400;
    margin: 40px;
}

.photo {
    width: 175px;
    border-radius: 85px;
    display: flex;
    float:left;
    
    
    
}

#name {
    font-size: 35px;
}

.skills {
    color:rgb(247, 247, 8);
    max-width: 69.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 2rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
/* .button {
    border: 10;
    padding: 0 20px;
    font-size: 20px;
    background-color: gold;
    text-shadow: 10px;
    border-radius: 20px;
    text-align: center;
}
.button:hover {
    background-color: rgb(105, 80, 219);
} */


/* .button:active {
    box-shadow: rgb(97, 5, 163);
} */

a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

a:hover {
    color: rgba(255, 247, 0, 0.966);
}


footer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: justify;
}